*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

header{
    background-color: rgb(228, 239, 239);
    padding: 20px;
    position: fixed;
    width: 100%;
  
}




ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    
}


a{
    text-decoration: none;
    color: black;

}


.flex-container1,.flex-container2,.flex-container3,.flex-container4,.flex-container5{

    display: flex;
    justify-content: space-around;
    height: 650px;
    align-items: center;
    

}

.flex-container1{
    background-color: aqua;

}

.flex-container2{
    background-color: red;

}
.flex-container3{
    background-color: black;

}
.flex-container4{
    background-color: palevioletred;

}
.flex-container5{
    background-color: green;

}

#box1,#box2,#box3,#box4,#box5{

    display: flex;
    width: 200px;
    height: 200px;
    color: wheat;
    align-items: center;
    justify-content: center;
    margin: 20px;


}

#box1{
    background-color: black;

}

#box2{
    background-color: white;
    color: black;

}

#box3{
    background-color: blue;

}

#box4{
    background-color: aquamarine;
    color: black;

}
#box5{
    background-color: crimson;

}